.outfit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 4%;
  padding: 5px;
  width: 85%;
  height: 10%;
}
.outfit.title {
  display: inline;
  margin: 0 0 0 5%;
}
/*
*********************
** CAROUSEL STYLES **
*********************
*/
.carousel.item.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  min-width: 15vw;
  margin: 0.75% 1%;
  background-color: #d3d3d3;
}
.carousel.outfit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  min-width: 15vw;
  margin: 0.75% 1%;
  background-color: rgb(175, 174, 174);
}
/*
*****************
** CARD STYLES **
*****************
*/

/*
*****************
** CARD STYLES **
*****************
*/
.outfit-card .card-interaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.outfit-card .action {
  padding: 2% 0 0 88%;
}
.outfit-card img {
  /* margin: 0 6%;
  width: 150px;
  height: 112.5px; */
  width: 150px;
  height: 150px;
  border: 1px solid;
  overflow: hidden;
}
.outfit-card b, .outfit-card p {
  display: block;
  text-align: center;
}
.outfit-card .stars-display {
  display: flex;
  justify-content: center;
}
.action:hover {
  color: cyan;
}