
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}


/* ---------Buttons ----------- */

.qa-button-big {
  background-color: white; /* Green */
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200px;
}

.qa-button-small {
  background-color: white;
  border: 0.5px solid rgb(52, 51, 51);
  color: black;
  padding: 1px 1.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: pointer;
  width: 80px;
}

.reported {
  background-color: rgba(186, 9, 9, 0.964);
  border: 0.5px solid rgb(52, 51, 51);
  color: white;
  padding: 0.5px 1.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 0.5px 0.5px;
  cursor: pointer;
  width: 80px;
}

.green-button {
  background-color: rgb(26, 141, 13);
  border: 0.5px solid rgb(52, 51, 51);
  color: rgb(255, 255, 255);
  padding: 1px 1.5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 1px 1px;
  cursor: pointer;
  width: 80px;
}

.sbar {
  position: relative;
  display: flex;
  padding: 5px 0px 10px 0px;
  margin-bottom: 10px;
}

.search {
  border: 2px solid grey;
  height: 30px;
  width: 80%;
  padding: 3px 20px 2px 8px;
  outline: 0;
  background-color: #d7d4d4;
}
.simage {
  position: relative;
  top: 5px;
  right: 30px;
  width: 27px;
  height: 27px;
}

.questionModalClose, .answerModalClose {
  color: rgb(234, 231, 231);
  font-size: 12px;
  font-weight: bold;
  background-color: rgb(212, 89, 89);
  border-radius: 1px;
}

.answerMod {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 22, 47, 0.587);
}
.questionMod {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 22, 47, 0.587);
}

.questionPopout, .answerPopout {
  background-color: #fefefe;
  margin: auto;
  padding: 16px;
  border-radius: 6px;
  width: 80%;
  max-width: 800px;
  overflow-y: auto;
}
