.related {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  width: 75%;
  height: 10%;
}
/*
************************
** MODAL TABLE STYLES **
************************
*/
.modal-body {
  padding: 10% 0;
}
.table {
  overflow-y: auto;
  overflow-x: hidden;
}
.table #close {
  margin: 0.5% 98%;
}
.table #close:hover {
  color: rgba(207, 8, 8, 0.842);
}
.table table {
  margin: 2% auto;
  width: 80%;
  height: 80%;
}
.table table, thead, td {
  border: 2px solid #ddd;
  border-collapse: collapse;
  text-align: center;
}
.table thead, td {
  padding: 4px;
}
/*
*********************
** CAROUSEL STYLES **
*********************
*/
.carousel.container.cards {
  background-color: aquamarine;
}
.carousel.product-card {
  width: 15%;
  background-color: silver;
}
/*
*****************
** CARD STYLES **
*****************
*/
.product-card .action {
  margin: 0 90%;
}
.product-card img {
  margin: 0 6%;
  width: 150px;
  height: 112.5px;
  border: 1px solid;
  overflow: hidden;
}
.product-card p {
  text-align: center;
}
.action:hover {
  color: cyan;
}