.recommended {
  /* display: inline; */
  border: 1px solid;
  background-color: aquamarine;
  margin: 0 auto;
  padding: 5px;
  width: 75%;
  height: 100px;
  /* overflow: hidden; */
}
.arrow-left {
  display: inline;
  float: left;
  padding-top: 25px;
  padding-bottom: 25px;
}
/*
LOOK INTO SETTING FLEX AS THE DISPLAY TO CENTER THE PRODUCTS
MIGHT HAVE TO SWITCH OUT FLOAT BUT COULD INSTEAD USE FLEX FOR
THE ARROWS AS WELL.
*/
.card-container {
  display: inline;
  float: left;
  width: 75%;
  /* margin: 0 auto; */
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.product-card {
  display: inline-block;
  margin: 0.75% 0.5%;
}
.arrow-right {
  display: inline;
  float: right;
  padding-top: 25px;
  padding-bottom: 25px;
}