@import 'carousel.css';
@import 'modal.css';
@import 'related-products.css';

:root {
  --star-size: 20px;
  --star-color: #ddd;
  --star-background: black;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* --------- Rating-Reiviews ----------- */
.review-tile {
  margin-left: 30%;
  margin-right: 30%;
}

.review-tile-header .stars-display {
  margin-right: 40%;
}

.review-tile-verified::before {
  content: '\2714';
}

.review-tile-header {
  display: flex;
}

.review-tile-reviewSummary {
  font-weight: bold;
}

.review-tile-recommended {
  content: '\2714 I recommend this product';
}

.review-tile-footer {
  display: flex;
}
.review-tile-reviewBodyButton {
  color: grey;
}

