@import 'carousel.css';
@import 'modal.css';
@import 'related-products.css';
@import 'outfit.css';

body {
  background-color: #d3d3d3;
}

:root {
  --star-size: 20px;
  --star-color: #ddd;
  --star-background: black;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* --------- Rating-Reiviews ----------- */
.ratings-reviews-dispay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px
}
/* --------- Rating-Reiviews Breakdown ----------- */
.rating-breakdown {
  grid-column: 1 / 2;
  margin-left: 60%;
}
.rating-breakdown-header {
  display: flex;

}

.rating-breakdown-star-display {
  position: relative;
  top: 23px;
  left: 5px;
}

.rating-breakdown-footer {

  margin-top: 10%;
}

.ratings-breakdown-comfort-rating {
  margin-top: 10%;
}

/* --------- Rating-Reiviews Tiles ----------- */
.reviews {
  grid-column: 2 / 4;
}

.review-tile {
  margin-top: 2%;
}

.review-tile-header {
  display: flex;
}

.review-tile-header .stars-display {
  margin-right: 30%;
}

.review-tile-verified::before {
  content: '\2714';
}

.review-tile-reviewSummary {
  font-weight: bold;
}


.review-tile-recommended {
  content: '\2714 I recommend this product';
}

.review-tile-reviewBodyButton {
  color: grey;
}

/* --------- Rating-Reiviews Buttons ----------- */
.rating-reviews-buttons {

}
.rating-reviews-button-show-more {

}

/* --------- Rating-Reiviews Sort ----------- */
.ratings-sort {
  grid-column: 2 / 4;
  margin-top: 5%;
  font-size: 20px;
}



.progress-bar {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
  height: 10px;
  width: 150px;
  background-color: grey;
}
.filler {
  background-color: green;
  height: 100%;
  transition: width .2s ease-in;
}

.progress-bar-contents {
  margin-bottom: 5%;
  display: flex;

}